{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <h1>Products</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>${{ product.price|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}